
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@MultiLanguage.Resources.HomeTexts.Add_New_Assembly</h2>

<div class="row">
    <div class="col-md-5">
        <div class="card">
            <div class="row">
                <div class="col-xs-8">
                    <h4>@MultiLanguage.Resources.HomeTexts.Assembly</h4>
                </div>
                <div class="col-md-4">
                    <div class="btn btn-primary findSupplier pull-right">@MultiLanguage.Resources.HomeTexts.Select</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>@MultiLanguage.Resources.HomeTexts.Code</label>
                </div>
                 <div class="col-md-6"></div>


            </div>
            <hr />



        </div>
     </div>
</div>
